.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background: linear-gradient(270deg, rgba(82,45,128,0.8), rgba(246,103,51,0.8));
}

.letterStyle {
  padding: 10px;
  margin: 10px;
  background-color: #522D80;
  border-radius: 50%;
  color: #F66733;
  display: inline-block;
  font-family: monospace;
  font-size: 32px;
  text-align: center;
}

.letterStyle:hover {
  transform: scale(1.1);
}

#construction {
  font-weight: bold;
  font-style: italic;
  font-size: 16px;
  text-align: center;
  font-family: monospace;
  margin: auto;
  width: 75vw;
}