.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  border: 2px solid #003866;
  background-color: #003866;
  margin: 15px;
  width: 18rem;
}

.card-header{
  background-color: #003866;
  color: #ffb347;
}

.card-body{
  background-color: #ffb347;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 15px;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffb347;
  color: #003866;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-weight: bold;
}

.navbar {
  background-color: #003866;
  margin-bottom: 15px;
}

#basic-navbar-nav .nav-link {
  color: #ffb347;
}

.btn-primary {
  background-color: #003866;
  color: #ffb347;
  border-color: #003866;
}

.btn-primary:hover {
  background-color: #ffb347;
  color: #003866;
  border-color: #003866;
}

.dropdown-menu {
  background-color: #ffb347;
}

.dropdown-item {
  color: #003866;
}

.dropdown-item:hover {
  background-color: #003866;
  color: #ffb347;
}

.resume {
  display: inline-block;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.home p {
  font-size: large;
  font-weight: 500;
  max-width: 90%;
  padding: 10px;
  margin: auto;
  flex: 0 1 auto;
}

.gif {
  max-width: 85%;
  flex-basis: auto;
  margin: auto;
  flex-shrink: 1;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.document {
  margin: auto;
}

.resume h1 {
  display: inline-block;
  width: 100%;
}

.resume a {
  color: #003866;
}
.resume .link {
  margin-bottom: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.profile-pic {
  max-width: 85%;
  flex-basis: auto;
  margin: auto;
  flex-shrink: 1;
}

@media only screen and (min-width: 500px){
  .profile-pic {
    max-width: 450px;
    max-height: auto;
  }

  .home p {
    max-width: 700px;
  }
}

.about p {
  text-align: left;
  max-width: 750px;
  flex: 0 1 auto;
  margin: auto;
  padding: 20px;
}

.about p a {
  color: #003866;
  font-weight: 700;
}

.navbar .navbar-brand {
  color: #ffb347;
  font-weight: bold;
}