body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffb347;
  color: #003866;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: bold;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card {
  border: 4px solid #003866;
  background-color: #003866;
  margin: 15px;
  width: 18rem;
}

.card-header {
  background-color: #003866;
  color: #ffb347;
  font-size: x-large;
  font-weight: 600;
}

.card-body {
  background-color: #ffb347;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 15px;
}

.footer {
  background-color: #003866;
  color: #ffb347;
  text-align: center;
  padding: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
}

.phantom {
  display: block;
  padding: 5px;
  height: 3rem;
  width: 100%;
}

.nav-link {
  color: #ffb347;
}

.navbar {
  background-color: #003866;
  margin-bottom: 15px;
}

#basic-navbar-nav .nav-link {
  color: #ffb347;
}

#basic-navbar-nav .nav-link:hover {
  /* background-color: #ffb347;
  color: #003866; */
  font-weight: 600;
}

.nav-link:hover {
  color: #ffb347;
  font-weight: bold;
}

.btn-primary {
  background-color: #003866;
  color: #ffb347;
  border-color: #003866;
}

.btn-primary:hover {
  background-color: #ffb347;
  color: #003866;
  border-color: #003866;
}

.btn-secondary {
  background-color: #ffb347;
  color: #003866;
  border-color: #003866;
}

.btn-secondary:hover {
  background-color: #003866;
  color: #ffb347;
  border-color: #003866;
}

.dropdown-menu {
  background-color: #ffb347;
}

.dropdown-item {
  color: #003866;
}

.dropdown-item:hover {
  background-color: #003866;
  color: #ffb347;
}

.resume {
  display: inline-block;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.home p {
  font-size: large;
  font-weight: 500;
  max-width: 90%;
  padding: 10px;
  margin: auto;
  flex: 0 1 auto;
}

.gif {
  max-width: 85%;
  flex-basis: auto;
  margin: auto;
  flex-shrink: 1;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.document {
  margin: auto;
}

.resume h1 {
  display: inline-block;
  width: 100%;
}

.resume a {
  color: #003866;
}
.resume .link {
  margin-bottom: 15px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.about p {
  text-align: left;
  max-width: 750px;
  flex: 0 1 auto;
  margin: auto;
  padding: 20px;
}

.about p a {
  color: #003866;
  font-weight: 700;
}

.profile-pic {
  max-width: 85%;
  flex-basis: auto;
  margin: auto;
  flex-shrink: 1;
}

.navbar .navbar-brand {
  color: #ffb347;
}

.navbar .navbar-brand:hover {
  color: #ffb347;
  font-weight: bold;
}

.navbar img {
  background-color: #ffb347;
  border-radius: 2em;
  max-width: 35px;
}

.navbar .weather .nav-link {
  color: #ffb347;
  font-weight: 400;
}

.navbar .weather .nav-link:visited {
  color: #ffb347;
  font-weight: 400;
}

.navbar .weather .nav-link:hover {
  color: #ffb347;
  font-weight: 600;
}

.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 179, 71, .9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar .navbar-toggler {
  /* border-color: rgba(255, 179, 71.9); */
  border: none;
}

@media only screen and (min-width: 500px) {
  .profile-pic {
    max-width: 450px;
    max-height: auto;
  }

  .home p {
    max-width: 700px;
  }
}

@media only screen and (max-width: 992px) {
  .navbar :nth-child(2) {
    order: 2;
  }
}
